<div class="container">
<form (ngSubmit)="onSubmit()" [formGroup]="Form">
          <h1>Fill in the details.</h1>
          <br>
  <div class="container">
      <div class="row">
          <div class="col-md-2"><label for="firstName">First Name</label></div>
          <div class="col-md-3">
              <input type="text" class="form-control" placeholder="First name" 
              formControlName = "fname"
              id="firstName">
              <div [hidden]="!Form.controls['fname'].hasError('required')">*Enter First Name. (required)</div>
              <div class="invalid" [hidden]="!Form.controls['fname'].hasError('pattern')">Name should start with a Capital letter and should only contain letters.</div>
              <div class="invalid" [hidden]="!Form.controls['fname'].hasError('minlength')">Name should be of at least 3 letters.</div>
              <div class="valid" [hidden]="Form.controls['fname'].hasError('required') || Form.controls['fname'].hasError('pattern') || Form.controls['fname'].hasError('minlength')">Name is valid.</div>
            </div>
            <div class="col-md-1">
              <p [hidden]="Form.controls['fname'].hasError('required') || Form.controls['fname'].hasError('pattern') || Form.controls['fname'].hasError('minlength')" > ✔</p>
              <p [hidden]="!Form.controls['fname'].hasError('required')"> ⚠</p>
              <p [hidden]="!Form.controls['fname'].hasError('pattern')"> ❌</p>
              <p [hidden]="!Form.controls['fname'].hasError('minlength')"> 📛</p>
            </div>
            <div class="col-md-2"><label for="lastName">Last Name</label></div>
              <div class="col-md-3">
                  <input type="text" class="form-control" placeholder="Last name" 
                  formControlName = "lname"
                  id="lastName">
                  <div [hidden]="!Form.controls['lname'].hasError('required')">*Enter Last Name. (required)</div>
                  <div class="invalid" [hidden]="!Form.controls['lname'].hasError('pattern')">Name should start with a Capital letter and should only contain letters.</div>
                  <div class="invalid" [hidden]="!Form.controls['lname'].hasError('minlength')">Name should be of at least 3 letters.</div>
                  <div class="valid" [hidden]="Form.controls['lname'].hasError('required') || Form.controls['lname'].hasError('pattern') || Form.controls['lname'].hasError('minlength')">Name is valid.</div>
                </div>
                <div class="col-md-1">
                  <p [hidden]="Form.controls['lname'].hasError('required') || Form.controls['lname'].hasError('pattern') || Form.controls['lname'].hasError('minlength')" > ✔</p>
                  <p [hidden]="!Form.controls['lname'].hasError('required')"> ⚠</p>
                  <p [hidden]="!Form.controls['lname'].hasError('pattern')"> ❌</p>
                  <p [hidden]="!Form.controls['lname'].hasError('minlength')"> 📛</p>
                </div>
            </div>
          <br>
          <div class="row">
            <div class="col-md-2"><label for="email">Email address</label></div>
            <div class="col-md-3">
<input type="email" id="email" class="form-control" placeholder="Enter email" required formControlName="email">
<div [hidden]="!Form.controls['email'].hasError('required')">*Enter Email. (required)</div>
                  <div class="invalid" [hidden]="!Form.controls['email'].hasError('email')">Email is not valid</div>
                  <div class="valid" [hidden]="Form.controls['email'].hasError('required') || Form.controls['email'].hasError('email')">Email is valid.</div>
                </div>
                <div class="col-md-1">
                  <p [hidden]="Form.controls['email'].hasError('required') || Form.controls['email'].hasError('email')" > ✔</p>
                  <p [hidden]="!Form.controls['email'].hasError('required')"> ⚠</p>
                  <p [hidden]="!Form.controls['email'].hasError('email')"> ❌</p>
                </div>
              <div class="col-md-2"><label for="pass">Password</label></div>
             <div class="col-md-3">
                    <input type="password" class="form-control" id="pass" formControlName="pass" placeholder="Enter Password" required >
                    <div [hidden]="!Form.controls['pass'].hasError('required')">*Enter Password. (required)</div>
                  <div class="invalid" [hidden]="!Form.controls['pass'].hasError('pattern')">Password should contain one lower case letter, one upper case letter, one digit and no spaces.</div>
                  <div class="invalid" [hidden]="!Form.controls['pass'].hasError('minlength')">Password should contain minimum 8 characters.</div>
                  <div class="valid" [hidden]="Form.controls['pass'].hasError('required') || Form.controls['pass'].hasError('pattern') || Form.controls['pass'].hasError('minlength')">Password is valid.</div>
                  </div>
                  <div class="col-md-1">
                      <p [hidden]="Form.controls['pass'].hasError('required') || Form.controls['pass'].hasError('pattern') || Form.controls['pass'].hasError('minlength')" > ✔</p>
                      <p [hidden]="!Form.controls['pass'].hasError('required')"> ⚠</p>
                      <p [hidden]="!Form.controls['pass'].hasError('pattern')"> ❌</p>
                      <p [hidden]="!Form.controls['pass'].hasError('minlength')"> 📛</p>
                    </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-2"><label for="phone">Phone Number</label></div>
                <div class="col-md-3">
                <input type="text" class="form-control" id="phone" formControlName="ph" required>
                <div [hidden]="!Form.controls['ph'].hasError('required')">*Enter Phone Number. (required)</div>
                <div class="invalid" [hidden]="!Form.controls['ph'].hasError('pattern')">Phone Number should contain only numbers.</div>
                <div class="invalid" [hidden]="!Form.controls['ph'].hasError('minlength')">Phone Number should be 11 digits long</div>
                <div class="invalid" [hidden]="!Form.controls['ph'].hasError('maxlength')">Phone Number should be 11 digits long</div>
                <div class="valid" [hidden]="Form.controls['ph'].hasError('required') || Form.controls['ph'].hasError('pattern') || Form.controls['ph'].hasError('minlength')">Phone Number is valid.</div>
              </div>
              <div class="col-md-1">
                  <p [hidden]="Form.controls['ph'].hasError('required') || Form.controls['ph'].hasError('pattern') || Form.controls['ph'].hasError('minlength')" > ✔</p>
                  <p [hidden]="!Form.controls['ph'].hasError('required')"> ⚠</p>
                  <p [hidden]="!Form.controls['ph'].hasError('pattern')"> ❌</p>
                  <p [hidden]="!Form.controls['ph'].hasError('minlength')"> 📛</p>
                </div>
                <div class="col-md-1"><label for="city">City</label></div>
              <div class="col-md-4">
                <select id="city" class="form-control" formControlName= "city" required>
                <option *ngFor="let city of cities" [value]="city">{{city}}</option>
              </select>
              <div [hidden]="!Form.controls['city'].hasError('required')">*Select a City (required)</div>
              </div>
              <div class="col-md-1">
                  <p [hidden]="Form.controls['city'].hasError('required')" > ✔</p>
                  <p [hidden]="!Form.controls['city'].hasError('required')"> ⚠</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck" required formControlName= "cbo"> 
                <label class="form-check-label" for="gridCheck">
                  I accept the Licence Agreement
                </label>
                <div class="invalid" [hidden]="!Form.controls['cbo'].hasError('required')">*Please accept the Licence Agreement by checking the above box. (required)</div>
              </div>
            </div>
            <br>
  <button type="submit" class="btn btn-primary" [disabled]="!Form.valid">Submit</button>
          </div>
</form>
  </div>
